{{!-- title --}}
<h1>Eat Your Burger!</h1>
<img src="../public/assets/img/burger.png" alt="open-burger.png">
<h4>Burgers Waiting to be Eaten</h4>
<ul class="burger-to-eat">
    {{#each burgers}}
        {{#unless devoured}}
            <li>
                {{burger_name}}
                <button>Eat!</button>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<h4>Burgers Devoured</h4>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>{{burger_name}}</li>
        {{/if}}
    {{/each}}
</ul>

<h4>Add a burger to eat later</h4>
<form class="form">
    <div>
        <label for="burger-name">Burger Name: </label>
        <input id="burger-name" type="text">
        <button type="submit">Add Burger!</button>
    </div>
</form>