.burger-pic {
    width: 300px;
}

.burger-title {
    text-align: center;
}

.burger-eaten, .burger-to-eat {
    width: min-content;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #f6f6f6;
}